@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Permanent+Marker&family=Potta+One&family=Slabo+27px&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  flex-wrap: wrap;
}
body {
  font-family: 'Slabo 27px', serif;
}
button {
  outline: none;
  border: none;
}
i {
  font-size: 22px;
}

.game-wrapper {
  height: 100vh;
  padding: 20px 40px;
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 5px rgb(222, 241, 222);
  border-radius: 10px;
}
.title {
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
  font-family: 'Potta One', cursive;
}
.scores {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 15px;
 
}
.scores div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.scores div h5 {
  font-weight: bold;
  text-align: center;
}
.scores  p {
  font-size: 20px;
  font-weight: bolder;
  
}
.rounds-left{
  font-size: 20px;
  
}
.playOptions div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.playOptions button {
  border-radius: 50%;
  padding: 12px 15px;
  background-color: rgb(245, 243, 243);
  transition: all 0.1s ease-in;
}
.playOptions button img {
  border-radius: 30px;
}
.playOptions button:hover {
  box-shadow: 0px 2px 2px 2px rgb(180, 179, 179);
}
.result {
  font-size: 20px;
  color: blue;
}
.btn-reload {
  padding: 10px 15px;
  margin: 15px 0px;
  background-color: rgb(27, 139, 27);
  letter-spacing: 1px;
  color: #fff;
  font-weight: bolder;
}
.none {
  display: none;
}
.gameOver {
  color: red;
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 1px;
  font-family: 'Permanent Marker', cursive;
text-transform: uppercase;
  animation: color 0.3s infinite ease-in;
}

@keyframes color {
  0% {
    color: red;
  }
  50% {
    color: rgb(39, 10, 10);
  }
  100% {
    color: red;
  }
}
.gameResult {
  padding: 10px 15px;
  font-weight: bolder;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  font-size: 25px; 
  font-family: "Dancing Script", cursive;
}
